/* ====== BASICS ====== */

body {
    margin: 0;
    font-family: 'Ubuntu Mono', sans-serif;
    background: #FFFFFF;
    display: flex;
}

aside {
    width: 237px;
    left: -2px;
    top: -5px;
    background: #FAFBFD;
    text-align: center;
    margin-right: 20px;
}

#app {
    padding: 50px;
    top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: content-box;
    width: 75%;
}

/* ====== ASIDE TEXT ====== */

aside h1 {
    left: 50%;
    position: relative;
    font-size: 2.5rem;
    width:1px;
    word-wrap: break-word;
    color: #090F31;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: bold;
}

/* ====== DIVs & INPUTs ====== */

.items {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: fit-content;
}

.items .nameofcomponent {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 12px;
    color: #333333;
    margin-bottom: 12px;
}

.items label {
    margin-bottom: 4px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #333333;
}

.items .input {
    width: 200px;
    height: 56px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333333;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
}

.items .helpertext {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #828282;
    margin-top: 4px;
}

.erroritem .error {
    border: 1px solid #D32F2F;
}

.erroritem .helpertext, .erroritem label {
    color: #D32F2F !important;
}

.erroritem label {
    margin-bottom: -20px;
}

.items .sm {
    height: 40px !important;
}

.items .md {
    height: 56px !important;
}

.fullwidthitem, .items .fullwidth {
    width: 100% !important;
}

.items .multiline {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200px;
}

.items .material-icons {
    color: #828282;
    pointer-events: none;
}

.items .start {    
    position: relative;
    top: 40px;
    left: 12px;
    width: auto;
    text-align: left;
}

.items .starticon {
    padding-left: 45px;
}

.items .end {
    position: relative;
    bottom: 40px;
    right: 10px;
    width: auto;
    text-align: right;
}

/* ====== INPUTs HOVER & FOCUS ====== */

.items .input:hover {
    border: 1px solid #333333;
}

:focus {
    outline: 0;
}

.items .input:focus {
    border: 1px solid #2962FF;
}

.erroritem .error:focus {
    border: 1px solid #D32F2F;
}